<h2 class="title is-2">Users</h2>

<div class="block">
  <%= link "New User", to: Routes.user_path(@conn, :new), class: "button is-link" %>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link(user.username, to: Routes.user_path(@conn, :show, user)) %></td>
    </tr>
<% end %>
  </tbody>
</table>

