<h2 title="title is-2">Edit Airline</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.airline_path(@conn, :update, @airline)) %>

<span><%= link "Back", to: Routes.airline_path(@conn, :index) %></span>
