<h2 class="title is-2">New Airline</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.airline_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.airline_path(@conn, :index) %></span>
