<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Flight Map</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/milligram.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/myflightmap.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="title">
          <%= link("My Flight Map", to: home_path(@conn, :index)) %>
        </div>
        <nav role="navigation">
          <%= link("Aircraft Types", to: aircraft_type_path(@conn, :index)) %>
          <%= link("Airports", to: airport_path(@conn, :index)) %>
          <%= link("Airlines", to: airline_path(@conn, :index)) %>
          <%= link("Flights", to: flight_path(@conn, :index)) %>
          <%= link("Users", to: user_path(@conn, :index)) %>
          <%= link("Trips", to: trip_path(@conn, :index)) %>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
