<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Flight Map</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link("My Flight Map", to: home_path(@conn, :index), class: "navbar-item") %>
        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link("Flights", to: flight_path(@conn, :index), class: "navbar-item") %>
            <%= link("Trips", to: trip_path(@conn, :index), class: "navbar-item") %>
          </div>

          <div class="navbar-end">
            <%= if assigns[:current_user] do %>
              <div class="navbar-item has-dropdown is-hoverable">
                <%= link(assigns[:current_user].username, to: user_path(@conn, :show, assigns[:current_user].id), class: "navbar-link") %>

                <div class="navbar-dropdown">
                  <%= link("Logout", to: session_path(@conn, :delete), method: :delete, class: "navbar-item") %>
                </div>
              </div>
            <% else %>
              <%= link("Login", to: session_path(@conn, :new), class: "navbar-item") %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

      <main role="main" class="section">
        <div class="container">
          <%= for {type, msg} <- get_flash(@conn) do %>
            <article class="message is-<%= error_class(type) %>">
              <div class="message-body"><%= msg %></div>
            </article>
          <% end %>

          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
