<h2 class="title is-2">Edit Trip</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.trip_path(@conn, :update, @trip)) %>

<span><%= link "Back", to: Routes.trip_path(@conn, :index) %></span>
