<h2 class="title is-2">Edit Aircraft Type</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.aircraft_type_path(@conn, :update, @aircraft_type)) %>

<span><%= link "Back", to: Routes.aircraft_type_path(@conn, :index) %></span>
