<h2>Edit Aircraft Type</h2>

<%= render "form.html", Map.put(assigns, :action, aircraft_type_path(@conn, :update, @aircraft_type)) %>

<span><%= link "Back", to: aircraft_type_path(@conn, :index) %></span>
